<h1>Coligo </h1>
<h3>Welcome Back</h3>
<h5>Do not miss your next opportunity. Sign into stay updated on your Professional world.</h5>
<div>
    <input class="offset-1" type="text" id ="userID" value="Email or Phone"/><br />
    <input class="offset-1" type="text" id ="userPassword" value="Email or Phone" /><br />
    <button class="navbar-nav" type="submit">Sign in</button>
</div>
<h6> Forgot password?</h6>
<h6> New to Coligo?</h6>
<a herf="">Join now</a>

@code {

}
