    <EditForm Model="@_loginModel" OnValidSubmit="confirmValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputText id="userName" @bind-Value="_loginModel.UserName" />
        <InputText id="userPassword" @bind-Value="_loginModel.UserPassword" />

        <button class="btn btn-primary" type="submit">Sign in</button>
    </EditForm>

@code {
    private LoginModel _loginModel = new LoginModel();

    private void confirmValidSubmit()
    {
        //Need to connect Database to check user input is correct
        Console.WriteLine("Submition success!");
    }
}
