    <EditForm Model="@_loginModel" OnValidSubmit="ConfirmValidateSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <InputText @bind-Value="_loginModel.Username" />
        <InputText @bind-Value="_loginModel.Password" />

        <button class="btn btn-primary" type="submit">Sign in</button>
    </EditForm>

@code {
    private Login _loginModel = new Login();

    private void ConfirmValidateSubmit()
    {
        //Need to connect Database to check user input is correct
        Console.WriteLine("Submition success!");
    }
}
